# Heroes of Pymoli Data Analysis
 - The majority of players are male and between the ages of 15-24. Spending on items does not vary significantly between ages and genders.
 - The three most profitable items are also three of the most popular, meaning higher prices do not deter players from buying good items.
 - The average purchase per player is \\$4.13, the five players with the highest purchase values range from \\$13.10-\\$18.96. This is more than 3 times the average purchase.

In [1]:
#Dependencies and files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

inputfile = "resources/purchase_data.csv"
heroes_df = pd.read_csv(inputfile)

In [2]:
#find general info about dataframe
heroes_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

### Player Count

In [3]:
#count of unique names
players = heroes_df["SN"].nunique()

#data table
player_count =pd.DataFrame({"Number of Players":[players]})
player_count

   Number of Players
0                576

### Purchase Analysis (Total)

In [4]:
#find number of unique items
items = heroes_df["Item Name"].nunique()
#find average purchase price
avg_price = heroes_df["Price"].mean()
#total number of purchases
total_pur = len(heroes_df)
#total revenue
total_rev = heroes_df["Price"].sum()
#format $ values
avg_price_f = "${:,.2f}".format(avg_price)
total_rev_f = "${:,.2f}".format(total_rev)

#display in table
pur_analysis = pd.DataFrame({"Number of Unique Items":[items],"Average Purchase Price":[avg_price_f],"Total Number of Purchases":[total_pur],"Total Revenue":[total_rev_f]})
pur_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

### Gender Demographics

In [5]:
#groupby gender
#add SN to filter out multiple purchases by same player name
gender_df = heroes_df.groupby("Gender").SN.nunique()
#gather data
male = gender_df["Male"]
female = gender_df["Female"]
other = gender_df["Other / Non-Disclosed"]

#calculate percentages, add formatting
male_per = "{:,.2f}%".format(male/players*100)
female_per = "{:,.2f}%".format(female/players*100)
other_per = "{:,.2f}%".format(other/players*100)

#make table
gender_dem_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],"Player Count":[male, female, other],"Percentage":[male_per, female_per, other_per]})
gender_dem_df = gender_dem_df.set_index("Gender")
gender_dem_df

                       Player Count Percentage
Gender
Male                            484     84.03%
Female                           81     14.06%
Other / Non-Disclosed            11      1.91%

### Purchase Analysis (Gender)

In [14]:
#grouby gender
gender_df_2 = heroes_df.groupby("Gender")
#purchase count series
gender_pur_ct = gender_df_2["Gender"].count()
#average purchase price
gender_avg_pri = gender_df_2["Price"].mean()
#total purchase value
gender_pur = gender_df_2["Price"].sum()
#average purchase per person per gender (using unique counts from line above)
gender_avg_pur = gender_pur/gender_df

#summary df
gender_pur_df = pd.concat([gender_pur_ct, gender_avg_pri, gender_pur, gender_avg_pur], axis=1, 
                          keys=['Total Purchases','Average Purchase Price','Total Purchase Value','Average Purchase per Person'])

In [33]:
#total statistics
    # purchase count = total_pur
    # average purchase price = avg_price
    # total purchase value = total_rev
    # average purchase per person = total_rev/players
total_pur_df = pd.DataFrame({'Gender':['All'],"Total Purchases":[total_pur],"Average Purchase Price":[avg_price],
                             "Total Purchase Value":[total_rev],'Average Purchase per Person':[total_rev/players]})
total_pur_df.set_index('Gender', inplace = True)
total_pur_df

,Total Purchases,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Gender,,,,
All,780,3.050987,2379.77,4.131545

In [35]:
test = gender_pur_df.append(total_pur_df)
test

,Total Purchases,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727
All,780,3.050987,2379.77,4.131545

In [36]:
#format df
gender_pur_df["Average Purchase Price"] = gender_pur_df["Average Purchase Price"].map("${:,.2f}".format)
gender_pur_df["Total Purchase Value"] = gender_pur_df["Total Purchase Value"].map("${:,.2f}".format)
gender_pur_df["Average Purchase per Person"] = gender_pur_df["Average Purchase per Person"].map("${:,.2f}".format)
gender_pur_df

,Total Purchases,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
# Gender purchase histogram
# Labels for x-axis
handles = ['Total Purchases','Average Purchase Price','Average Purchase per Person']

# Build the bar chart
plt.figure(figsize=(12,8))
x_axis = np.arange(0,len(handles))

plt.bar(x_axis, drug_per, color=per_df["Pos/Neg"].map({True:"indianred", False:"seagreen"}))
plt.axhline(color="black")
plt.grid(which="major")
plt.xticks(x_axis, labels=handles)
plt.title("Change in Tumor Volume Over Course of Treatment")
plt.ylabel("Percent Change")

#format percent values to text/rounded
per_txt=[]
per_txt=per_df["Percent Change"]
per_txt = per_txt.map("{:.2f}%".format)

#for loop to label values
for x in x_axis:
    if per_df["Pos/Neg"][x]==True:
        plt.text(x=x-.3, y=5, s=per_txt[x], color="white")
    else:
        plt.text(x=x-.3, y=-5, s=per_txt[x], color="white")


# Save the Figure
plt.savefig("Tumor_Growth.png")


# Show the Figure
plt.show()

### Age Demographics

In [7]:
#maximum age data
heroes_df["Age"].max()
#create bins 
bins = [0,10,15,20,25,30,35,40,46]
labels = ["<10","11-14","15-19","20-24","25-29","30-34","35-39","40+"]
#didvide data frame
heroes_df["Age Group"] = pd.cut(heroes_df["Age"], bins, labels=labels)
#groupby age group
heroes_age = heroes_df.groupby("Age Group")
#count of players by SN
age_unique = heroes_age["SN"].nunique()
#percentage of total
age_per = age_unique/age_unique.sum()*100

#summary data frame with divided ages
age_df = pd.concat([age_unique, age_per], axis=1, keys=["Number of Players","Percentage of Total"])
age_df["Percentage of Total"] = age_df["Percentage of Total"].map("{:,.2f}%".format)
age_df

           Number of Players Percentage of Total
Age Group
<10                       24               4.17%
11-14                     41               7.12%
15-19                    150              26.04%
20-24                    232              40.28%
25-29                     59              10.24%
30-34                     37               6.42%
35-39                     26               4.51%
40+                        7               1.22%

### Purchase Analysis (Age)

In [8]:
#groupby from above: heroes_age

#Purchase count
age_pur = heroes_age["Age Group"].count()
#Average Purchase Price
age_pur_avg = heroes_age["Price"].mean()
#Total Purchase Value
age_total = heroes_age["Price"].sum()
#Total Purchase per Person by Age Group
#age_unique from above
age_total_avg = age_total/age_unique

#summary dataframe
age_dem_df = pd.concat([age_pur, age_pur_avg, age_total, age_total_avg], axis=1, keys=["Number of Purchases","Average Purchase Price","Total Purchase Value","Average Purchase Per Person"])
#format dataframe
age_dem_df["Average Purchase Price"] = age_dem_df["Average Purchase Price"].map("${:,.2f}".format)
age_dem_df["Total Purchase Value"] = age_dem_df["Total Purchase Value"].map("${:,.2f}".format)
age_dem_df["Average Purchase Per Person"] = age_dem_df["Average Purchase Per Person"].map("${:,.2f}".format)
age_dem_df

,Number of Purchases,Average Purchase Price,Total Purchase Value,Average Purchase Per Person
Age Group,,,,
<10,32,$3.40,$108.96,$4.54
11-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
35-39,33,$3.40,$112.35,$4.32
40+,7,$3.08,$21.53,$3.08

### Top Spenders

In [9]:
#groupby SN
spenders_df = heroes_df.groupby("SN")
#sum purchases by SN
spender_total = spenders_df["Price"].sum()
#identify top 5 spenders
top_spenders = spender_total.nlargest(5)
#purchases count by SN
spender_pur = spenders_df["SN"].count()
#average purchase price
spender_avg = spenders_df["Price"].mean()

#summary dataframe
top_spender_df = pd.DataFrame({"Number of Purchases":spender_pur,"Average Purchase Price":spender_avg,"Total Purchase Value":spender_total})
top_spender_df = top_spender_df.sort_values("Total Purchase Value", ascending = False)
#format dataframe
top_spender_df["Average Purchase Price"] = top_spender_df["Average Purchase Price"].map('${:,.2f}'.format)
top_spender_df["Total Purchase Value"] = top_spender_df["Total Purchase Value"].map('${:,.2f}'.format)
top_spender_df.head(5)

             Number of Purchases Average Purchase Price Total Purchase Value
SN
Lisosia93                      5                  $3.79               $18.96
Idastidru52                    4                  $3.86               $15.45
Chamjask73                     3                  $4.61               $13.83
Iral74                         4                  $3.40               $13.62
Iskadarya95                    3                  $4.37               $13.10

### Most Popular Items

In [10]:
#make price dataframe
item_df = heroes_df[["Item ID","Item Name","Price"]]
#groupby ItemID and Item Name
item_grp = item_df.groupby(["Item ID","Item Name"])
#purchase count
item_ct = item_grp["Item ID"].count()
#item price
item_price = item_grp["Price"].unique()
#total purchase value
item_val = item_grp["Price"].sum()

#summary dataframe
popular_df = pd.DataFrame({"Number of Purchases":item_ct, "Item Price":item_price, "Total Purchase Value":item_val})
popular_df = popular_df.sort_values("Number of Purchases", ascending=False)
#format table 
popular_df["Item Price"] = popular_df["Item Price"].astype("float").map("${:,.2f}".format)
popular_df["Total Purchase Value"] = popular_df["Total Purchase Value"].astype("float").map("${:,.2f}".format)
popular_df.head(5)

,,Number of Purchases,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

### Most Profitable Items

In [11]:
#data frame from above popular_df, change df name because of formatting
profitable_df = pd.DataFrame({"Number of Purchases":item_ct, "Item Price":item_price, "Total Purchase Value":item_val})
#sort by purchase value
profitable_df = profitable_df.sort_values("Total Purchase Value", ascending=False)
#format table
profitable_df["Item Price"] = profitable_df["Item Price"].astype("float").map("${:,.2f}".format)
profitable_df["Total Purchase Value"] = profitable_df["Total Purchase Value"].astype("float").map("${:,.2f}".format)
profitable_df.head(5)

,,Number of Purchases,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80